<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.mapper.PersonMapper" >
    <resultMap id="BaseResultMap" type="com.shangpin.entity.Person" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="trade_account" property="tradeAccount" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="cert_num" property="certNum" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Column_List" >
        id,trade_account,name,mobile,cert_num,status,bank_account
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="tradeAccount!= null and tradeAccount!=''" >
				, trade_account = #{tradeAccount,jdbcType=VARCHAR}
			</if>
			<if test="name!= null and name!=''" >
				, name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="mobile!= null and mobile!=''" >
				, mobile = #{mobile,jdbcType=VARCHAR}
			</if>
			<if test="certNum!= null and certNum!=''" >
				, cert_num = #{certNum,jdbcType=VARCHAR}
			</if>
			<if test="status!= null and status!=''" >
				, status = #{status,jdbcType=VARCHAR}
			</if>
			<if test="bankAccount!= null and bankAccount!=''" >
				, bank_account = #{bankAccount,jdbcType=VARCHAR}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="tradeAccount!= null and tradeAccount!=''" >
			and trade_account = #{tradeAccount,jdbcType=VARCHAR}
		</if>
		<if test="name!= null and name!=''" >
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="mobile!= null and mobile!=''" >
			and mobile = #{mobile,jdbcType=VARCHAR}
		</if>
		<if test="certNum!= null and certNum!=''" >
			and cert_num = #{certNum,jdbcType=VARCHAR}
		</if>
		<if test="status!= null and status!=''" >
			and status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="bankAccount!= null and bankAccount!=''" >
			and bank_account = #{bankAccount,jdbcType=VARCHAR}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{tradeAccount,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{certNum,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},#{bankAccount,jdbcType=VARCHAR}
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.tradeAccount,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR},#{item.mobile,jdbcType=VARCHAR},#{item.certNum,jdbcType=VARCHAR},
		#{item.status,jdbcType=VARCHAR},#{item.bankAccount,jdbcType=VARCHAR}
    </sql>

    <insert id="insert" parameterType="com.shangpin.entity.Person" useGeneratedKeys="true" keyProperty="id">
        insert into person (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into person (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from person where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultMap="BaseResultMap">
        select
        r.id,r.trade_account tradeAccount,r.name,r.mobile,r.cert_num certNum,r.status,r.bank_account bankAccount
        from person r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.shangpin.entity.Person" >
        update person
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.shangpin.entity.Person" >
        delete from person where 1=1
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.shangpin.entity.Person" parameterType="com.shangpin.entity.Person">
        select
        r.id,r.trade_account tradeAccount,r.name,r.mobile,r.cert_num certNum,r.status,r.bank_account bankAccount
        from person r
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="tradeAccount!= null and tradeAccount!=''" >
			and r.trade_account like concat('%', #{tradeAccount,jdbcType=VARCHAR}, '%')
		</if>
		<if test="name!= null and name!=''" >
			and r.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
		</if>
		<if test="mobile!= null and mobile!=''" >
			and r.mobile like concat('%', #{mobile,jdbcType=VARCHAR}, '%')
		</if>
		<if test="certNum!= null and certNum!=''" >
			and r.cert_num like concat('%', #{certNum,jdbcType=VARCHAR}, '%')
		</if>
		<if test="status!= null and status!=''" >
			and r.status like concat('%', #{status,jdbcType=VARCHAR}, '%')
		</if>
		<if test="bankAccount!= null and bankAccount!=''" >
			and r.bank_account like concat('%', #{bankAccount,jdbcType=VARCHAR}, '%')
		</if>
		
    </select>

	<select id="checkList" resultType="com.shangpin.entity.vo.ApplyPersonVO" parameterType="com.shangpin.entity.dto.CheckPersonDTO">
		select
		r.id,r.req_batch_no reqBatchNo,r.apply_id applyId,r.person_id personId,r.status,r.create_time createTime,
		p.name
		from apply_company r
		inner join person p on r.person_id = p.id
		where 1 = 1
		<if test="reqBatchNo!= null and reqBatchNo!=''" >
			and r.req_batch_no  = #{reqBatchNo,jdbcType=VARCHAR}
		</if>
		<if test="items!= null and items.size() > 0" >
			and
			<foreach collection="items" item="item" open="(" close=")" separator="or">
				r.apply_id = #{item.applyId} and p.trade_account = #{item.tradeAccount}
				and p.name = #{item.name} and p.mobile = #{item.mobile}
				and p.cert_num = #{item.certNum} and p.bank_account = #{item.bankAccount}
			</foreach>
		</if>
	</select>

	<select id="applyList" resultType="com.shangpin.entity.vo.ApplyVO" parameterType="com.shangpin.entity.dto.ReportDTO">
		select
		r.apply_id applyId, r.status returnCode
		from apply_company r
		where 1 = 1
		<if test="reqBatchNo!= null and reqBatchNo!=''" >
			and r.req_batch_no  = #{reqBatchNo,jdbcType=VARCHAR}
		</if>
		<if test="items!= null and items.size() > 0" >
			and r.apply_id in
			<foreach collection="items" item="item" open="(" close=")" separator=",">
				#{item.applyId}
			</foreach>
		</if>
	</select>

	<select id="reportList" resultType="com.shangpin.entity.vo.ReportVO" parameterType="com.shangpin.entity.dto.ReportDTO">
		select
		r.id,r.apply_id applyId,r.check_report_no checkReportNo,r.credit_composite_score creditCompositeScore,r.credit_composite_level creditCompositeLevel
		from report r
		inner join apply_person c on r.apply_id = c.apply_id
		where 1 = 1
		<if test="reqBatchNo!= null and reqBatchNo!=''" >
			and c.req_batch_no  = #{reqBatchNo,jdbcType=VARCHAR}
		</if>
		<if test="items!= null and items.size() > 0" >
			and r.apply_id in
			<foreach collection="items" item="item" open="(" close=")" separator=",">
				#{item.applyId}
			</foreach>
		</if>
	</select>
</mapper>

